body {
  font-family: "Poppins", sans-serif;
}

/* Hero gradient */
.hero {
  background: linear-gradient(90deg, #014040 0%, #72F2DB 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.logo-header {
  height: 70px;
}

.btn-entrar {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.3rem 1.3rem;
  border-radius: 30px;
  transition: background 0.3s, color 0.3s;
}

.btn-cadastrar {
  background: white;
  color: #014040;
  border: 2px solid white;
  padding: 0.3rem 1.3rem;
  border-radius: 30px;
  transition: background 0.3s, color 0.3s;
}

.btn-admin {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.3rem 1.3rem;
  border-radius: 30px;
  transition: background 0.3s, color 0.3s;
}

/* Modal ADM*/
#adminModal .modal-dialog {
    max-width: 350px; /* Largura máxima, ajuste se necessário */
}

#adminModal .modal-content {
    background-color: white;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

#adminModal .modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#adminModal .modal-title {
    color: #014040;
    font-weight: bold;
}

#adminModal .btn-close {

}

/* Garante que o 'X' mantenha a cor escura ao passar o mouse */
#adminModal .btn-close:hover {
    opacity: 0.75; /* Reduz a opacidade ao passar o mouse para dar feedback */
}

#adminModal .form-label {
    color: #212529;
}

#adminModal .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid #53A69D;
}

#adminModal .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(83, 166, 157, 0.251);
    border-color: white;
}

#adminModal .modal-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

/* Botões */
#adminModal .btn-primary {
    background-color: white;
    border-color: white;
    color: black;
    font-weight: bold;
}

#adminModal .btn-secondary {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.logo-hero {
  height: 120px;
}

.btn-cmcAgora {
  background: white;
  color: #014040;
  font-weight: 600;
  border: none;
  padding: 0.6rem 2.0rem;
  border-radius: 30px;
  transition: background 0.3s, color 0.3s;
}

.btn-Conta {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.6rem 2.0rem;
  border-radius: 30px;
  transition: background 0.3s, color 0.3s;
}

.bg-danger {
  background-color: #53A69D !important;
  color: white !important;
  padding: 0.6rem 2.0rem;
  border-radius: 5px;
}

.footer-logo {
  height: 60px;
}

.icon-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #E6FAF7;   /* cor clara pastel */
  color: #72F2DB ;        /* cor do ícone */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;     /* tamanho do ícone */
  flex-shrink: 0;
}

.about-section {
  margin-top: 2rem;
}

.brand-card {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.brand-card img {
  max-height: 60px;
  max-width: 100%;
  object-fit: contain;
}

.title-about {
  font-weight: 600;
  color: #014040;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.title-feature {
  font-weight: 700;
  color: #0B2532;
  margin-bottom: 0.5rem;
  font-size: 2.25rem;
}

.container-feature {
  padding: 4rem 2rem;
  background: #53A69D;
}

.feature-card {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.feature-card:hover {
  transform: translateY(-5px);
}

.icon-circle-feature {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #eafbf9;   /* cor escura */
  color: #72F2DB;          /* cor do ícone */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;       /* tamanho do ícone */
  margin: 0 auto 1rem auto;
}

.section-cta{
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  background: linear-gradient(90deg, #0A1926 0%, #014040 100%);
}

.title-cta{
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.subtitle-cta{
  color: #E0E0E0;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.btn-cadcta {
  background: #72F2DB;
  color: #014040;
  font-weight: 600;
  border: none;
  padding: 0.6rem 2.0rem;
  border-radius: 30px;
  transition: background 0.3s, color 0.3s;
  align-items: center;
}

.btn-logincta {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 0.6rem 2.0rem;
  border-radius: 30px;
  transition: background 0.3s, color 0.3s;
  align-items: center;
}

.modal-adm {
  background: white;
  color: #014040;
  border: 2px solid white;
  padding: 1.5rem 2.0rem;
  border-radius: 15px;
  transition: background 0.3s, color 0.3s;
}

.modal-title {
  font-weight: 700;
  color: #014040;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.label-adm {
  font-weight: 600;
  color: #014040;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

#adminCode::placeholder,
#adminEmail::placeholder,
#adminPassword::placeholder {
  color: #888;          
  font-size: 0.825rem;  
}

.btn-acessar{
  background: #72F2DB;
  color: #014040;
  font-weight: 600;
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 30px;
  transition: background 0.3s, color 0.3s;
  display: block;
  margin: 1rem auto; /* centraliza horizontal */
  margin-top: 2rem;
}


.animate-float {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

